/*-*-*-*-*-*-*-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-**-**---*-*-*-*-*-*-*-*-*-*-*-*ESTILOS GENERALES-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
:root{
    --white:#fff;
    --black:#000;
    --green:#080;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-*-*-*-*-*-*-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-**-**---*-*-*-*-*-*-*-*-*-*-*-*HEADER-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

/*---La cabecera---*/
header{
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color:var(--black);
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

header img{
    width: 200px;
    height: 150px;
}
input[type=search]{
    padding: 5px;
}
input[type=submit]{
    padding: 5px;
    background-color:var(--white);
}
input[type=submit]:hover{
    cursor: pointer;
    background-color:var(--green);
    color:var(--white);
}


/* ---La barra de navegación---*/
.nav-links{
    display: flex;
    flex-direction: row;
    top: 30px;
    right: 30px;
    list-style: none;
    gap: 14px;
}
.nav-links a{
    color:var(--white);
    text-decoration: none;
}
.nav-links a:hover{
    color:var(--black);
    background-color:var(--white);
}
/* ----Menú Hamburguesa---*/
.check-menu{
    display: none;
}
.label-check{
    display: none;
}
.label-check img{
    width: 60px;
    height: 60px;
}
/*-*-*-*-*-*-*-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-**-**---*-*-*-*-*-*-*-*-*-*-*-*BODY-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    background-image: url(../asset/images/Tienda.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: auto;
    background-attachment: fixed;
    color:var(--white);  
    font-family: Arial, Helvetica, sans-serif;
}
/* -- sección de bienvenida--*/
.principal{
    height: 100vh;
    display: flex;
    flex-direction: column;
    color:var(--white);
    text-align: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}
h2{
    font-size: 60px;
    margin-bottom: 30px;
    font-size: clamp(20px, 5vw, 60px);
}
.porcentaje{
    font-size: 60px;
    color:var(--green);
}

/*-*-*-*-*-*-*-*-*- Sección Novedades-*-*-*-*-*-*-*-*-*--*--*/

.novedades{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 40px;
}
.nueva-llegada{
    height: 300px;
    display: grid;
    text-align: center;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
    padding: 20px;
}
section h2{
    text-align: center;
}
.nueva-llegada:hover{
    transform: translateY(+20px);
    opacity: 1;
    cursor: pointer;
}
.nueva-llegada img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nueva-llegada a{
    color: var(--white);
    text-decoration: none;
}
.descripcion{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:var(--white);
    padding: 5px;
}
/*-*-*-*---*-*- Sección de Rebajas-*-*-*-*-*-*---*-*/
.Rebajas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Rebajas img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    padding: 20px;
}
.subRebajas{
    display: flex;
    flex-direction:column;
    text-align: center;
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
    transition:all .3s ease-in-out ;
} 
.subRebajas:hover{
    width: 500px;
    height: 500px;
    cursor: pointer;
}
.subRebajas button{
    width: 100px;
    background-color:var(--white);
    padding: 5px;
    margin: auto;
}
.subRebajas button:hover{
    background-color:var(--black);
    color:var(--white);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

/*-*-*-*-*-*-*-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-**-**---*-*-*-*-*-*-*-*-*-*-*-*PAGINA GALERIA DE PRODUCTOS-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
img{
    width: 100%;
}
.galeria{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
.caja{
    flex: 25%;
    padding: 5px;
}
.caja img{
    margin-top: 5px;
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*--*-*-*-*--***-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-**
*-*-*-*-*-**-**---*-*-*-*-*-*-*-*-*-*-*-*-FORMULARIO DE LA PÁGINA DE PRESUPUESTO-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
h3 p{
    font-size: clamp(10px, 5vw, 30px);
}
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenido form{
    display: flex;
    flex-direction:column;
    width: 50%;
    margin: 10px;
    color:var(--black);
    background-color:gray;
    text-transform: uppercase;
}
.contenido form select{
    padding: 5px;
    margin-bottom: 5px;
}
.contactoForm label{
    margin: 5px;
    padding: 10px;
}
.contactoForm input{
    padding: 10px;
    border: none;
}
.contactoForm textarea{
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 20px;
    border: none;
    font-weight: bolder;
    font-size:large;
}
.boton{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.boton > button{
    width: 60px;
    background-color: var(--black);
    color:var(--white);
    padding: 5px;
}
.boton > button:hover{
    background-color:var(--green);
    color: var(--black);
    cursor: pointer;
}

.check{
    display: flex;
    gap: 10px;
}

/*-*-*-*-*-*-*-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-**-**---*-*-*-*-*-*-*-*-*-*-*-*PAGINA DE CONTACTO-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
/*-*-*-*-*-*-*-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-**-**---*-*-*-*-*-*-*-*-*-*-*-*FOOTER-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
footer{
    display: flex;
    justify-content: space-between;
    background-color:var(--black);
    color:var(--white);
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    align-items: center;
}
footer a{
    color:var(--white);
}
.logo{
    width: 100px;
    height: auto;
}
.redes_sociales{
    padding: 20px;

}
.redes_sociales p{
    margin-bottom: 20px;
}

.redes_sociales a{
    color:var(--white);
    padding: 20px;
    transition: all .5s ease-in-out;
}
.redes_sociales a:hover{
    background-color:var(--white);
    color: var(--black);
}
.redes_sociales img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-*-*-*-*-*-*-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-**-**---*-*-*-*-*-*-*-*-*-*-*-*MEDIA QUERIES PANTALLA DE (1024px)-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

@media(max-width:1024px){
    .check-menu{
        display:none;
    }
    .label-check{
        display: block;
    }
    .nav-links{
        display:none;
        flex-direction: column;
        position: absolute;
        top: 140px;
        right: 0;
        width: 100%;
        gap: 0;
    }
    .nav-links a{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .nav-links a:hover{
        background-color:var(--white);
        color:var(--black
        );
    }
    .check-menu:checked + .nav-links{
        display: flex;
    }
    
    /*-*-*-*-*--*-*-*-*-*-*-*- seccion principal-*-*-*-*-*--*--*-*-*--*/
    .novedades{
    grid-template-columns: repeat(2, 1fr);
    }
    .Rebajas{
        flex-wrap: wrap;
    }
    /*-*-*-*----**-**-*-*-*-**--
    *----Página de contacto---*
    *-*--*-*-*-*-*-*-**-*-*-*-*/
@media(max-width:1024px){
    .contacto{
        flex-wrap: wrap;
    }
}

/*-*-*-*-*--*-*-*-*-*-*-*-*-*--**
    *----Página de productos---*
*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*/
@media(max-width:1024px){
    .caja{
        flex: 45%;
    }
}
    /* ---PIÉ DE PÁGINA----*/
    footer{
        flex-wrap: wrap;
    }
}
/*-*-*-*-*-*-*-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-**-**---*-*-*-*-*-*-*-*-*-*-*-*-MEDIA QUERIES PANTALLA DE (768px)-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@media(max-width:768px){
    .novedades{
        grid-template-columns:1fr;
    }
}
/*-*-*--*--*-*-Página de productos-*-*-*-*--*--*-*---*-*-*-*-*/
@media(max-width:768px){
    .caja{
        flex: 90%;
    }
}


